/**
 * CSS Mission Ganesh Himal
 */

/** Général */

body {
    background: url("../img/background.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Calibri,Arial,sans-serif;
    font-size: 16px;
    margin: auto;
}

#navbar img {
    box-shadow: none;
}

img {
    box-shadow: 1px 1px 12px #555;
    outline: 0;
    height: auto;
    max-width: 100%;
}

iframe {
    outline: 0;
    max-height: 100%;
    max-width: 100%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

a {
    color: #DC143C;
}

a:hover {
    color: orange;
}

p {
    color: #003893;
}

td {
    vertical-align: top;
}

/** Bannière zone */
.navbar {
    background-color: white;
    border: none;
    border-radius: 0px;
    margin-bottom: 0;
}

.navbar .logo {
    padding: 0;
}

.logo img {
    margin: 10px 0;
    max-height: 200px;
}


.block-don {
    margin: 10px 0;
}

/** Menu zone */

#block-superfish-1 {
    background-color: #DC143C;
}

.sf-menu.sf-style-pomegranate li, .sf-menu.sf-style-pomegranate.sf-navbar {
    background-color: #DC143C;
}

.sf-menu.sf-style-pomegranate a, .sf-menu.sf-style-pomegranate span.nolink {
    border: none;
}

.sf-menu.sf-style-pomegranate {
    margin-bottom: 0;
}

.sf-menu.sf-style-pomegranate li, .sf-menu.sf-style-pomegranate.sf-navbar {
    /*padding: 10px 0;*/
}

.sf-accordion-toggle, .sf-style-pomegranate {
    padding: 16px 0;
}

.sf-menu.sf-style-pomegranate li:hover, .sf-menu.sf-style-pomegranate li.sfHover, .sf-menu.sf-style-pomegranate a:focus, .sf-menu.sf-style-pomegranate a:hover, .sf-menu.sf-style-pomegranate a:active, .sf-menu.sf-style-pomegranate span.nolink:hover, .sf-menu.sf-style-pomegranate.sf-navbar li li {
    /*font-weight: bold;*/
    text-decoration: none;
}

/** Accueil zone */

.block-accueil {
    background-color: white;
    opacity: 0.85;
    padding: 20px 10px;
}

/** Article zone */

#block-system-main article {
    margin: 10px 0;
}

.mgh-teaser-content {
    height: 250px;
    overflow: auto;
    padding-top: 10px;
}

.mgh-full-content {
    padding: 10px;
}

.region-content {
    background-color: white;
}

.node-teaser {
    margin: 10px;
}

.node-teaser h2 {
    font-size: 22px;
}

.node-teaser header {
    height: 66px;
    overflow: hidden;
}

.tableau-images img {
    margin-right: 25px;
    margin-bottom: 25px;
}

.tableau-images, table, td {
    border: none;
}

.tableau-images p {
    padding: 10px;
}

/** Commentaires zone */
#comments {
    padding: 0 20px;
}

/** Mentions légales zone */

.mentions-legales table {
    margin: auto;
}

.mentions-legales td {
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
}

/** Contact zone */
.contact-form {
    padding: 10px;
}

.contacts-nepal td {
	vertical-align: middle;
}

/** Sitemap zone */

.site-map-front-page {
    padding: 10px;
}

/** Pied de page */
.footer {
    background: white;
    border: 0;
    margin: 0;
    opacity: 0.85;
    padding: 20px 10px 10px 10px;
    
}

.footer li {
    display: inline;
    list-style-type: none;
    margin: 0 10px;
}

.pied-de-page ul {
    padding: 0;
}